<h1>The main page for showing and making characters!</h1>

<a href="characters/new.handlebars">Create a character</a>


{{!-- <a href="/characters/{{this._id}}">View Character</a> --}}
{{!-- <a href="/characters/{{this._id}}?_method=DELETE">Delete Character</a>
<a href="/characters/{{this._id}}/edit">Edit Character</a> --}}
<hr />
